<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/sb-admin-2.css">
    <link rel="stylesheet" href="/styles/timeline.css">
    <link rel="stylesheet" href="lib/metisMenu/dist/metisMenu.min.css">
    <link rel="stylesheet" href="lib/angular-loading-bar/build/loading-bar.min.css">
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css" type="text/css">

    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="lib/json3/lib/json3.min.js"></script>
    <script src="lib/oclazyload/dist/ocLazyLoad.min.js"></script>
    <script src="lib/angular-loading-bar/build/loading-bar.min.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="lib/metisMenu/dist/metisMenu.min.js"></script>
    <script src="lib/Chart.js/Chart.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="js/sb-admin-2.js"></script>
</head>

<body>

    <div ng-app="app">
        <div id="wrapper">

            <!-- Navigation -->

            <header></header>
            <!-- /.navbar-top-links -->


            <!-- /.navbar-static-side -->

            <div id="page-wrapper" style="min-height: 561px;">

                <div ui-view></div>

            </div>
            <!-- /#page-wrapper -->
        </div>
    </div>
</body>

</html>